<p>
  <label for="<%= "#{formfield.class.name.downcase}_#{name}" %>"><%= label %></label>
  <%= form_input fieldtype, formfield.class.name.downcase, name %>
  <%= postfix %>
</p>
<% if formfield.errors[name]; for error in formfield.errors[name]; -%>
<p class="warning"><%= error %></p><% end; end; -%>
<p class="hint">
  <%= formfield.hint(name) %>
</p>

