<div class="notice"><% if controller.action_name != 'view' %>
  <h2><%= link_to notice.heading, notice_url(:notice => notice) %></h2><% end %>
  <p class="meta">
    <span class="author"><%= notice.author.name %></span>
    <span class="when"><%= time_ago_in_words notice.created_on %> ago</span>
    <span class="comments">
      <%= link_to pluralize(notice.comments_count, 'comment'), notice_url(:notice => notice, :anchor => 'comments') unless notice.comments_count == 0 %>
    </span>
    <%= link_to('Edit notice...', edit_notice_url(:notice => notice), :class => 'admin button') if authorised? %>
  </p>
  <% if controller.action_name == 'view' -%>
    <% if notice.has_picture? -%>
      <div class="image"><img src="/uploads/<%= "notice/picture/#{notice.id}/#{notice[:picture]}" %>"></div>
    <% end -%>
    <%= raw textilize(h notice.content) %>
  <% else -%>
    <p>
      <%= truncate(notice.content, :length => 256) %>
      <%= link_to "Read on...", notice_url(:notice => notice)  %>
    </p>
  <% end %>
</div>