<div class="standout">
  <p><%= h @competition.summary %> 
    <%= link_to 'Edit this competition...',
      edit_competition_url(:competition => @competition),
      {:class => 'admin button'} if authorised? %>
    <%= link_to 'Add stage...',
      new_stage_url(:competition => @competition),
      {:class => 'admin button'} if authorised? %>
  </p>
</div>
<% cache do %>
<% if @stage.nil? -%>
<%= render :partial => 'not_set_up' %>
<% elsif @stage.has_no_groups? -%>
<%= render :partial => 'partially_set_up' %>
<% elsif @competition.has_news_worthy_matches? || !@competition.upcoming_fixtures.empty?%>
<%= render :partial => 'auto_generated_news' %>
<% else %>
<%= render :partial => 'nothing_doing' %>
<% end %>
<% end %>
