<% unless @form.errors.empty? -%>
<p class="warning">Sorry, but that's just not good enough.</p>
<% end -%>
<form action="" method="post" class="standard">
	<fieldset>
		<legend>Details...</legend>
		<label for="in-title"><%= @organisation.team_or_player.capitalize %> name</label>
		<p class="hint">This is simply the name of the <%= @organisation.team_or_player %>. Only use
		alphanumerics and spaces.</p>
		<%= error_message_on "form", "title", "Title " %>
		<p class="input"><%= text_field "form", "title", :class => 'textfield', :id => 'in-title'%></p>
	</fieldset>

	<fieldset class="finish">
		<legend>Finish up</legend>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="submit" value="Save <%= @organisation.team_or_player %>" class="button">
	</fieldset>
</form>