<div id="blurb">
<h1>Register</h1>
<% unless @user.errors.empty? && @organisation.errors.empty? -%>
<p class="warning">Sorry, that's just not good enough</p>
<% end -%>

<p>Registration is <strong>invite only</strong> for the moment. Fill out the
  form including your invite code and you're in. If you haven't got an invite
  and don't know how to get one then just sit pretty. Registration will be
  open to all eventually.</p>
  
<p>We recommend you read our <a href="/privacy">privacy policy</a> and
  <a href="/disclaimer">disclaimer</a> before signing up.</p>
</div>

<div id="focus">
<form action="register" method="post" class="standard">
  
  <fieldset>
    <legend>Invitation details...</legend>
    <%= form_field @invite, "text", "code", "Invite code" %>
  </fieldset>
  
  <fieldset>
    <legend>Organisation details...</legend>
    <%= form_field @organisation, "text", "title", "The full name of your organisation" %>

    <%= form_field @organisation, "text", "nickname", "Short name", ".teamsquad.com" %>

    <p><label for="organisation_sport_id">Sport</label>
      <%= collection_select('organisation', 'sport_id', @sports, 'id', 'title') %>
    </p>
    <p class="hint"><%= @organisation.hint('sport_id') %></p>
    
    <%= form_field @organisation, "textarea", "summary", "Summary" %>
  </fieldset>
  
  <fieldset>
    <legend>Enter your details...</legend>
    <%= form_field @user, "text", "name", "Your name" %>
    <%= form_field @user, "text", "email", "Your email address" %>
    <%= form_field @user, "password", "password", "Password" %>
    <%= form_field @user, "password", "password_confirmation", "Confirm Password" %>
  </fieldset>
  
  <fieldset class="finish">
    <legend>Submit your registration</legend>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p><input type="submit" value="Register"></p>
  </fieldset>
</form>
</div>