<header>
  <% if @titles.size > 1 %>
  <ul class="breadcrumb"><% request.fullpath.split('/').each_with_index do |part, i| %>
    <li><a href="<%= (i==0) ? '/' : request.fullpath.split('/')[0..i].join('/') %>"><span><%= @titles[i] %></span></a></li><% end %>
  </ul>
  <% else %>
  <ul class="breadcrumb">
    <li><a href="/"><span><%= @titles[0] %></span></a></li>
    <li><a href="/"><span>Home</span></a></li>
  </ul>
  <% end %>
  
  <% if @window_title %>
  <h1><span><%= @window_title %></span></h1>
  <% else %>
  <% if @titles.size > 2 %>
  <h1><span><%= @titles[-2] %></span> <strong><%= @titles.last %></strong></h1>
  <% else %>
  <h1><span><%= @titles.last %></span></h1>
  <% end %>
  <% end %>
</header>