<%= render :partial => "layouts/doctype" %>
<html lang="en">
<head>
  <%= render :partial => "layouts/head" %>
</head>
<body class="sport<%= @organisation.sport_id%>">
<div id="content"><div class="inner">
    <div id="primary">
      <h1><span><%= @titles[-2] unless (@titles.size < 3) %><% unless @titles[-1].nil? %> <strong><%= @titles[-1] %></strong><% end %></span></h1>
      <%= yield %>
    </div>
    <%= render :partial => "layouts/secondary" %>
    <%= render :partial => "layouts/search" %>
    <%= render :partial => "layouts/admin" %>
</div></div>

<%= render :partial => "layouts/foot" %>
</body>
</html>