<%= render :partial => "layouts/doctype" %>
<html lang="en">
<head>
  <%= render :partial => "layouts/head" %>
</head>
<body class="<%= controller_name %> sport<%= @organisation.sport_id%>" id="<%= controller_name %>-<%= action_name %>">
<%= render :partial => 'layouts/h1' %>
<%= render :partial => 'layouts/menu' %>
<div id="content">
  <%= render :partial => "layouts/primary" %>
  <%= render :partial => "layouts/secondary" %>
</div>
<%= render :partial => "layouts/search" %>
<%= render :partial => "layouts/foot" %>
</body>
</html>